<view title="viewTitle">
    <div class="card" data-card-name="searchMain">
        <div class="item item-divider item-text-wrap">
            What kind of car are you looking for?
        </div>
        <form>
            <div class="row col-centered">
                <!-- Select Car type -->
                <select id="SelectCarType" name="SelectCarType" ng-model="searchModel.carClass">
                    <option value="subcompact" class="">
                        <img height="80" src="../images/car/subcompact-thumb.png">

                        <p>Economy</p>
                    </option>
                    <option value="compact" class="">
                        <img height="80" src="../images/car/compact-thumb.png">

                        <p>Compact</p>
                    </option>
                    <option value="midsize" class="">
                        <img src="../images/car/midsize-thumb.png">

                        <p>Mid Size</p>
                    </option>
                    <option value="fullsize" class="">
                        <img src="../images/car/fullsize-thumb.png">

                        <p>Full Size</p>
                    </option>
                    <option value="pickup" class="">
                        <img src="../images/car/pickup-thumb.png">

                        <p>Pickup</p>
                    </option>
                    <option value="suv" class="">
                        <img src="../images/car/suv-thumb.png">

                        <p>SUV</p>
                    </option>
                </select>
            </div>


            <!-- Reservation Dates -->
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="block-label">
                            <i class="icon ion-calendar"></i>
                            From Date:
                        </label>
                        <input type="date" id="FilterFromDate" ng-model="searchModel.fromDate"
                               class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="block-label">
                            <i class="icon ion-calendar"></i>
                            To Date:
                        </label>
                        <input type="date" id="FilterToDate" ng-model="searchModel.toDate" class="form-control">
                    </div>
                </div>
            </div>

        </form>
        <!--

        Current Location

        -->
        <!-- Summary -->
        <label>Near&nbsp;</label>

        <div lb-current-location="currentLocation" class="card" ng-show="currentLocationDisplay()"></div>
    </div>
</view>


