<nav-page ng-controller="ProductDetailController">
    <view title="viewTitle">
        <content has-header="true">

            <slide-box>
                <slide>
                    <div class="box white">
                        <!--
                         Product Detail Card
                         -->
                        <div class="card">
                            <div class="item item-divider item-text-wrap">
                                <span class="product-detail-title">{{ productDetail.displayName }}</span>
                            </div>
                            <div class="item item-text-wrap">
                                <span>List price: {{productDetail.currencyCode}} {{ productDetail.listPrice}}</span>
                                <br/>
                                <span ng-if="productDetail.salePrice">Sale price: {{productDetail.currencyCode}} {{ productDetail.salePrice}}</span>
                                <br/>
                            </div>
                            <div class="item">
                                <img ng-src="http://localhost:3000/api/media/images{{productDetail.thumbnailImageUrl}}"/>
                            </div>

                            <div ng-show="!productDetail.childSKUs"
                                 class="icon ion-loading-a">
                            </div>
                            <div class="item"
                                 ng-show="productDetail.childSKUs && productDetail.childSKUs.length > 1">
                                SKUs:
                                <div class="list">
                                    <div class="item"
                                         ng-repeat="sku in productDetail.childSKUs">
                                        <span ng-if="sku.color">Color: {{sku.color}}</span>
                                        <span ng-if="sku.size">Size: {{sku.size}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </slide>
            </slide-box>

        </content>
    </view>
</nav-page>
