<view title="viewTitle">
    <refresher></refresher>
    <slide-box>
        <slide>
            <div class="box white">
                <list>
                    <item ng-repeat="dealer in dealers" type="item-text-wrap" ng-click="detailView(dealer.id)">
                        <h3> {{dealer.name}}</h3>

                        <p> {{dealer.address}},&nbsp;{{ dealer.city }}</p>
                    </item>
                </list>
                <div debug-region></div>
            </div>
        </slide>
        <slide>
            <div class="box white" ng-controller="DealerLocationController">
                <google-map
                        center="map.center"
                        zoom="map.zoom"
                        bounds="map.bounds"
                        draggable="true">
                    <marker coords="currentLocation.coords" options="currentLocation.options"></marker>
                    <markers models="dealerLocs" coords="'self'"></markers>
                </google-map>
            </div>
        </slide>
    </slide-box>
</view>