<nav-page ng-controller="DealerDetailController">
    <view title="viewTitle">
        <content has-header="true">

            <slide-box>
                <slide>
                    <div class="box white">
                        <!--

                         Dealer Detail Card

                         -->
                        <div class="card">
                            <div class="item item-divider item-text-wrap">
                                <span class="dealer-detail-title">{{ dealerDetail.name }}</span>
                            </div>
                            <div class="item item-text-wrap">
                                <span>{{ dealerDetail.address }}</span>&nbsp;<span>{{ dealerDetail.city }}</span>
                                <br/>
                                <span>{{ dealerDetail.phone }}</span>
                            </div>
                        </div>


                        <h2 class="dealer-cars-list-title">Available Cars</h2>
                        <ul class="dealer-car-list">
                            <li class="item item-thumbnail-left" ng-repeat="car in inventory">

                                <div thumb-directive></div>

                                <strong>{{ formatCarClass(car.carClass) }}</strong>
                                <br/>
                                <strong>{{ car.rate }}&nbsp;per day*</strong>

                                <p><label>Similar:&nbsp;</label> {{ car.make }}&nbsp;{{ car.model }}</p>

                                <button class="button button-block button-{{ themeName }}" ng-click="reserveCar(car)"
                                        data-dealerid="24ffc151-184f-45db-8719-e774c5bcc170"
                                        data-carid="41e4cfaf-c60e-41e4-a430-ba0a10c299a1">
                                    Reserve Car
                                </button>

                            </li>
                        </ul>
                    </div>
                </slide>
                <slide>
                    <div class="box white" ng-controller="DealerLocationController">
                        <google-map
                                center="map.center"
                                zoom="map.zoom"
                                bounds="map.bounds"
                                draggable="true">
                            <marker coords="currentLocation.coords" options="currentLocation.options"></marker>
                            <markers models="dealerLoc" coords="'self'"></markers>
                        </google-map>
                    </div>
                </slide>
            </slide-box>


        </content>
    </view>
</nav-page>
