<nav-page hide-back-button="false">
    <view title="viewTitle">
        <tabs tabs-style="tabs-icon-top" tabs-type="tabs-dark"
              animate-nav="true">

            <!-- Products tab -->
            <tab title="Products" icon="icon ion-document"
                 ng-controller="ProductController">

                <content has-header="true" has-tabs="true"
                         on-refresh="onRefresh()">
                    <div lb-product-main-directive></div>
                </content>

            </tab>

            <!-- Home tab -->
            <!--
            <tab title="Home" icon="icon ion-home"
                 ng-controller="HomeTabController">
                <content has-header="true" has-tabs="true" padding="true">
                </content>

            </tab>
            -->


            <tab title="Search" icon="icon ion-search">
                <content has-header="true" has-tabs="true" padding="true">
                </content>
            </tab>

            <tab title="Cart" icon="icon ion-ios7-cart">
                <content has-header="true" has-tabs="true" padding="true">
                </content>
            </tab>

        </tabs>

    </view>
</nav-page>