<nav-page>
    <view title="viewTitle">
        <content has-header="false" class="home-view">

            <a class="button button-full button-outline" ui-sref="homeapp">
                Quick Search
            </a>
            <a class="button button-full button-outline" ui-sref="profile">
                My Profile
            </a>
            <a class="button button-full button-outline" ui-sref="login" ng-show="showLogin()">
                Login
            </a>
            <a class="button button-full button-outline" ui-sref="register" ng-show="showRegister()">
                Register
            </a>
            <button lb-logout>Logout</button>
        </content>
    </view>
</nav-page>
