<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- the above charset encoding tag must be the first one after the <head> tag
        it must appear in the first 1024 bytes of your document,
    -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <title>iShop Prototype - angular ionic</title>


    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="description" content="Angular version of the LoopBack iCar app">

    <link rel="stylesheet" type="text/css" href="css/themes/ionic-ios7.css">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/nightly/css/ionic.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">

</head>


<body ng-app="app">


<side-menus>
    <pane side-menu-content>
        <nav-bar animation="nav-title-slide-ios7" type="bar-dark" back-button-type="button-icon"
                 back-button-icon="ion-arrow-left-c"></nav-bar>

        <nav-view animation="slide-left-right"></nav-view>

    </pane>
    <side-menu side="left">
        <div class="bar bar-header bar-dark">

        </div>
        </div>
        <content has-header="true">
            <list>
                <item ng-click="goTo('home')">Home</item>
                <item ng-click="goTo('about')">About</item>
            </list>
        </content>
    </side-menu>
</side-menus>
<!--<script type="text/javascript" src="phonegap.js"></script>-->
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
<script type="text/javascript">
    nApp.initialize();
</script>
<script src="./vendor/angular.js"></script>
<script src="http://code.ionicframework.com/0.9.20/js/ionic.js"></script>
<!--<script src="./vendor/ionic-9.20.js"></script>-->
<script src="./vendor/modules/angular-animate.js"></script>
<script src="./vendor/modules/angular-route.js"></script>
<script src="./vendor/modules/angular-ui-router.js"></script>
<script src="./vendor/modules/angular-touch.js"></script>
<script src="./vendor/modules/angular-sanitize.js"></script>
<script src="./vendor/modules/angular-resource.js"></script>
<!--<script src="http://code.ionicframework.com/nightly/js/ionic-angular.js"></script>-->
<script src="http://code.ionicframework.com/0.9.20/js/ionic-angular.js"></script>
<!--<script src="./vendor/ionic-angular-9.20.js"></script>-->

<script src="./vendor/jsonpath-0.8.0.js"></script>
<!-- google -->
<script src="http://maps.google.com/maps/api/js?v=3&libraries=geometry&sensor=false"></script>
<!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
<script src='./vendor/underscore.js'></script>
<script src='./vendor/modules/angular-google-maps.min.js'></script>
<script src="./app.js"></script>
<!-- common -->
<script src="./modules/common/lb-services.js"></script>
<script src="./modules/common/common.services.js"></script>
<script src="./modules/common/common.directives.js"></script>
<script src="./modules/common/common.controllers.js"></script>
<script src="./modules/common/directives/thumb.directive.js"></script>
<!-- home -->
<script src="./modules/home/home.module.js"></script>
<script src="./modules/home/home.controllers.js"></script>
<!-- search -->
<script src="./modules/search/search.module.js"></script>
<script src="./modules/search/search.controllers.js"></script>
<script src="./modules/search/search.directives.js"></script>
<script src="./modules/search/search.services.js"></script>
<!-- location -->
<script src="./modules/location/location.module.js"></script>
<script src="./modules/location/location.controllers.js"></script>
<script src="./modules/location/location.services.js"></script>
<script src="./modules/location/location.directives.js"></script>
<!-- profile -->
<script src="./modules/profile/profile.module.js"></script>
<script src="./modules/profile/profile.controllers.js"></script>
<script src="./modules/profile/profile.services.js"></script>
<script src="./modules/profile/profile.directives.js"></script>
<!-- dealer -->
<script src="./modules/dealer/dealer.module.js"></script>
<script src="./modules/dealer/dealer.controllers.js"></script>
<script src="./modules/dealer/dealer.directives.js"></script>
<script src="./modules/dealer/dealer.services.js"></script>
<!-- reservation -->
<script src="./modules/reservation/reservation.module.js"></script>
<script src="./modules/reservation/reservation.controllers.js"></script>
<script src="./modules/reservation/reservation.services.js"></script>
<!--&lt;!&ndash; push &ndash;&gt;-->
<!--<script src="./cordova.js"></script>-->
<!--<script src="./js/index.js"></script>-->
<!--<script type="text/javascript">-->
    <!--nApp.initialize();-->
<!--</script>-->
</body>
</html>
