
<div class="list">

    <label class="item item-radio light">
        <input type="radio" name="selectedTheme" value="light" ng-model="profile.selectedTheme"
               ng-change="changeTheme('light')">

        <div class="item-content">
            light
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio stable">
        <input type="radio" name="selectedTheme" value="stable" ng-model="profile.selectedTheme"
               ng-change="changeTheme('stable')">

        <div class="item-content">
            stable
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio positive">
        <input type="radio" name="selectedTheme" value="positive" ng-model="profile.selectedTheme"
               ng-change="changeTheme('positive')">

        <div class="item-content">
            positive
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio calm">
        <input type="radio" name="selectedTheme" value="calm" ng-model="profile.selectedTheme"
               ng-change="changeTheme('calm')">

        <div class="item-content">
            calm
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio balanced">
        <input type="radio" name="selectedTheme" value="balanced" ng-model="profile.selectedTheme"
               ng-change="changeTheme('balanced')">

        <div class="item-content">
            balanced
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio energized">
        <input type="radio" name="selectedTheme" value="energized" ng-model="profile.selectedTheme"
               ng-change="changeTheme('energized')">

        <div class="item-content">
            energized
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio assertive">
        <input type="radio" name="selectedTheme" value="assertive" ng-model="profile.selectedTheme"
               ng-change="changeTheme('assertive')">

        <div class="item-content">
            assertive
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio royal">
        <input type="radio" name="selectedTheme" value="royal" ng-model="profile.selectedTheme"
               ng-change="changeTheme('royal')">

        <div class="item-content">
            royal
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio dark">
        <input type="radio" name="selectedTheme" value="dark" ng-model="profile.selectedTheme"
               ng-change="changeTheme('dark')">

        <div class="item-content">
            dark
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

</div>